body {
    padding-top: 5em;
}

footer.footer p, footer.footer ul {
    margin-bottom: 0.3em;
}

.card .card-header h5 {
    margin-bottom: 0;
}

.card .card-header h4 {
    margin-bottom: 0;
}

/* XML editor */
div.xonomy.laic {
    background-color: inherit;
}

div.xonomy.laic .element > .tag {
    background-color: inherit;
}

div.xonomy.laic .element > .tag > .name {
    color: #e83e8c;
}

div.xonomy.laic .element > .tag.opening > .attributes > .attribute > .valueContainer:hover {
    background-color: inherit;
}

div.xonomy.laic .element > .connector > .plusminus {
    background-color: inherit;
}

div.xonomy.laic .element > .tag.opening > .attributes > .attribute > .valueContainer.current {
    background-color: inherit;
}
div.xonomy.laic .element.current > .tag > .name {
    background-color: inherit;
}

div.xonomy.laic .children {
    border-left: #666666 1px dotted;
}