@Master['Master/base.sshtml']
@Section['BaseHead']
<link href="/Content/signin.css" rel="stylesheet">
@EndSection
@Section['BaseContent']
<div class="form-signin-wrapper">
<form class="text-center form-signin" method="post">
    <h1 class="h1 mb-3">EyeInTheSky</h1>
    <div class="logo">
        <img src="/Content/logo.svg" alt="Logo"/>
    </div>
    <h2 class="h2 mb-5 font-weight-normal">Web Management Tool</h2>
    @If.HasError
        <div class="alert alert-danger" role="alert">
            @!Model.Error
        </div>
    @EndIf
    
    <label for="inputUsername" class="sr-only">Username</label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">$a:</span>
        </div>
        <input type="text" id="inputUsername" class="form-control" placeholder="Username" name="Username" value="@!Model.Username" required autofocus>
    </div>
    
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="Password" required>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

    <p class="mt-3 text-muted">
        <strong>No account?</strong> No problem! Simply message <code>@!Model.IrcClient.Nickname</code> on @!Model.IrcClient.ClientName with <code>@!Model.AppConfiguration.CommandPrefix;account register</code>. Then, set a password by messaging <code>@!Model.IrcClient.Nickname</code> again with <code>@!Model.AppConfiguration.CommandPrefix;account webpass sup3rsekr1t</code>.
    </p>
    <p class="mt-3 text-muted">
        EyeInTheSky tracks users by their NickServ account name on @!Model.IrcClient.ClientName, so your username here will match your @!Model.IrcClient.ClientName NickServ account name.
    </p>
</form>
</div>
@EndSection