@Master['Master/master.sshtml']


@Section['BaseHead']
<link href="/Content/signin.css" rel="stylesheet">
@EndSection

@Section['Content']
<div class="row">
    <div class="offset-md-2 col-md-8">
        <h3>Change Password</h3>

        <form method="post">
            <div class="form-group">
                <label for="oldPassword">Current password</label>
                <input type="password" class="form-control" id="oldPassword" placeholder="Current password" name="oldPassword" required/>
            </div>
            <div class="form-group">
                <label for="newPassword">New password</label>
                <input type="password" class="form-control" id="newPassword" placeholder="New password" name="newPassword" required/>
            </div>

            <div class="form-group">
                <label for="confirmPassword" class="d-none">Confirm new password</label>
                <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm new password" name="confirmPassword" required/>
            </div>

            <button type="submit" class="btn btn-primary float-right"><i class="fas fa-key mr-2"></i>&nbsp;Change password</button>
        </form>        
    </div>
    
</div>
@EndSection