@Master['Master/master.sshtml']

@Section['Content']
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/channels">Channels</a></li>
            <li class="breadcrumb-item active" aria-current="page">@!Model.IrcChannel.Identifier</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-md-12">
        @If.Model.IsChannelSubscribed
        <a href="#" class="btn btn-info float-right btn-sm ml-1 mt-2" title="Unsubscribe from all stalks in this channel"><i class="fas fa-bell"></i>&nbsp;Unsubscribe from channel</a>
        @EndIf
        @IfNot.Model.IsChannelSubscribed
        <a href="#" class="btn btn-outline-info float-right btn-sm ml-1 mt-2" title="Subscribe to all stalks in this channel"><i class="far fa-bell"></i>&nbsp;Subscribe to channel</a>
        @EndIf
        <h3><code>@!Model.IrcChannel.Identifier</code></h3>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-12">
        
        @If.Model.CanConfigureStalks
        <a href="/channels/@!Model.IrcChannel.Guid/new" class="float-right btn btn-success btn-sm ml-1" title="Create a new stalk"><i class="fas fa-plus"></i>&nbsp;New stalk</a>
        @EndIf

        <h4>Stalks</h4>

        @IfNot.Model.HasStalks
            <div class="alert alert-info" role="alert">
                No stalks are defined in this channel.
            </div>
        @EndIf

        <div class="card-columns">
        @Each.Model.Stalks
            <div class="card @!Current.StalkDisplayHints.Border">
                <div class="card-header">
                    <div class="float-right @!Current.StalkDisplayHints.Text mr-n2">
                        @If.IsSubscribed
                        <a href="#" class="btn btn-info btn-sm ml-1" title="Unsubscribe from this stalk"><i class="fas fa-bell"></i></a>
                        @EndIf
                        @IfNot.IsSubscribed
                        <a href="#" class="btn btn-outline-info btn-sm ml-1" title="Subscribe to this stalk"><i class="far fa-bell"></i></a>
                        @EndIf
                        <a href="/channels/@!Model.IrcChannel.Guid/stalk/@!Current.Stalk.Identifier" class="ml-1 align-middle btn btn-light btn-sm"><i class="fas fa-cog"></i></a>
                        @If.StalkDisplayHints.HasEnabledIcon
                        <i class="ml-1 align-middle @!Current.StalkDisplayHints.EnabledIcon"></i>
                        @EndIf
                        @If.StalkDisplayHints.HasExpiryIcon
                        <i class="ml-1 align-middle @!Current.StalkDisplayHints.ExpiryIcon"></i>
                        @EndIf
                    </div>
                    <h5><code class=" @!Current.StalkDisplayHints.Text">@!Current.Stalk.Identifier</code></h5>
                </div>
                <div class="card-body">
                    <p class="card-text">@!Current.Stalk.Description</p>
                    <p class="card-text text-muted mb-0"><small>Last triggered: @!Current.LastTrigger</small></p>
                    @If.IsExpiryDefined
                    <p class="card-text text-muted mb-0"><small>Expires: @!Current.Expiry</small></p>
                    @EndIf
                    <p class="card-text text-muted mb-0 sr-only"><small>Enabled: @!Current.Stalk.IsEnabled</small></p>
                    <p class="card-text text-muted mb-0 sr-only"><small>Has Expired: @!Current.IsExpired</small></p>
                    <p class="card-text text-muted mb-0 sr-only"><small>ExpSoon: @!Current.IsExpiringSoon</small></p>
                </div>
            </div>
        @EndEach
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-12">
        <h4>Local users</h4>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>NickServ Account</th>
                <th>Member</th>
                <th>Channel op</th>
                <th>Voice</th>
                <th>Subscribed</th>
                <th>Local flags</th>
                <th>Global flags</th>
            </tr>
            </thead>
            <tbody>
            @Each.DisplayUsers
                <tr>
                    <td>@!Current.Account</td>
                    <td>@!Current.MemberMask</td>
                    <td>@Current.IsOperator</td>
                    <td>@Current.IsVoice</td>
                    <td>@Current.IsLocallySubscribed</td>
                    <td>@!Current.LocalFlags</td>
                    <td>@!Current.GlobalFlags</td>
                </tr>
            @EndEach
            </tbody>
        </table>
    </div>
</div>
@EndSection