@Master['Master/master.sshtml']

@Section['Content']
<div class="row">
    <h2>@!Model.IrcChannel.Identifier</h2>
</div>
<div class="row">
    <div class="col-12">
        <h4>Stalks</h4>

        <div class="card-columns">
        @Each.Model.Stalks
            <div class="card @!Current.StalkDisplayHints.Border">
                <div class="card-header">
                    <div class="float-right @!Current.StalkDisplayHints.Text mr-n2">
                        <a href="/channels/@!Model.IrcChannel.Guid/stalk/@!Current.Stalk.Identifier" class="ml-1 align-middle btn btn-light btn-sm"><i class="fas fa-cog"></i></a>
                        @If.StalkDisplayHints.HasEnabledIcon
                        <i class="ml-1 align-middle @!Current.StalkDisplayHints.EnabledIcon"></i>
                        @EndIf
                        @If.StalkDisplayHints.HasExpiryIcon
                        <i class="ml-1 align-middle @!Current.StalkDisplayHints.ExpiryIcon"></i>
                        @EndIf
                    </div>
                    <h5><code class=" @!Current.StalkDisplayHints.Text">@!Current.Stalk.Identifier</code></h5>
                </div>
                <div class="card-body">
                    <p class="card-text">@!Current.Stalk.Description</p>
                    <p class="card-text text-muted mb-0"><small>Last triggered: @!Current.LastTrigger</small></p>
                    @If.IsExpiryDefined
                    <p class="card-text text-muted mb-0"><small>Expires: @!Current.Expiry</small></p>
                    @EndIf
                    <p class="card-text text-muted mb-0 sr-only"><small>Enabled: @!Current.Stalk.IsEnabled</small></p>
                    <p class="card-text text-muted mb-0 sr-only"><small>Has Expired: @!Current.IsExpired</small></p>
                    <p class="card-text text-muted mb-0 sr-only"><small>ExpSoon: @!Current.IsExpiringSoon</small></p>
                </div>
            </div>
        @EndEach
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <h4>Registered users</h4>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>User mask</th>
                <th>Subscribed</th>
                <th>Local flags</th>
            </tr>
            </thead>
            <tbody>
            @Each.IrcChannel.Users
            <tr>
                <th>@!Current.Mask</th>
                <td>@!Current.Subscribed</td>
                <td>@!Current.LocalFlags</td>
            </tr>
            @EndEach
            </tbody>
        </table>
    </div>
    <div class="col-6">
        <h4>Users in channel</h4>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>NickServ Account</th>
                <th>Mask</th>
                <th>Channel op</th>
                <th>Voice</th>
            </tr>
            </thead>
            <tbody>
            @Each.ChannelMembers
            <tr>
                <th>@!Current.User.Account</th>
                <td>@!Current.User.Nickname!@!Current.User.Username@@!Current.User.Hostname</td>
                <td>@!Current.Operator</td>
                <td>@!Current.Voice</td>
            </tr>
            @EndEach
            </tbody>
        </table>
    </div>

</div>
@EndSection