@Master['Master/master.sshtml']

@Section['Content']
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/channels">Channels</a></li>
            <li class="breadcrumb-item"><a href="/channels/@!Model.IrcChannel.Guid">@!Model.IrcChannel.Identifier</a></li>
            <li class="breadcrumb-item active" aria-current="page">@!Model.Stalk.Stalk.Identifier</li>
        </ol>
    </nav>
</div>

<div class="row">
    <div class="card" style="width:100%">
        <div class="card-header">
            @If.CanConfigure
            <a class="float-right btn btn-light btn-sm" style="height: fit-content;" href="/channels/@!Model.IrcChannel.Guid/stalk/@!Model.Stalk.Stalk.Identifier/edit"><i class="fas fa-edit mr-2"></i>Edit</a>
            @EndIf
            <div class="custom-control custom-switch float-right mr-3 mt-1">
                <input type="checkbox" class="custom-control-input" id="enabledSwitch" disabled
                       @If.Model.Stalk.Stalk.IsEnabled
                       checked
                       @EndIf
                >
                <label class="custom-control-label" for="enabledSwitch">Enable stalk</label>
            </div>
            <h4><code>@!Model.Stalk.Stalk.Identifier</code></h4>
        </div>
        <div class="card-body container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="alert @!Model.Stalk.StalkDisplayHints.Alert" role="alert">
                        @If.Model.Stalk.StalkDisplayHints.HasEnabledIcon
                        <i class="mr-1 @!Model.Stalk.StalkDisplayHints.EnabledIcon"></i>
                        @EndIf
                        @If.Model.Stalk.StalkDisplayHints.HasExpiryIcon
                        <i class="mr-1 @!Model.Stalk.StalkDisplayHints.ExpiryIcon"></i>
                        @EndIf
                        @!Model.Stalk.StalkDisplayHints.Description
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-sm table-borderless mb-0">
                        <tr><th>Created</th><td>unknown</td></tr>
                        <tr><th>Last updated</th><td>@!Model.Stalk.LastUpdate</td></tr>
                        <tr><th>Last triggered</th><td>@!Model.Stalk.LastTrigger</td></tr>
                        <tr><th>Trigger count</th><td>@!Model.Stalk.Stalk.TriggerCount</td></tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table table-sm table-borderless mb-0">
                        <tr><th>Report channel</th><td>@!Model.Stalk.Stalk.Channel</td></tr>
                        <tr><th>Monitored wiki</th><td>@!Model.Stalk.Stalk.WatchChannel</td></tr>
                        <tr><th>Expiry</th><td
                        @If.Model.Stalk.IsExpiringSoon
                        class="text-warning"
                        @EndIf
                        @If.Model.Stalk.IsExpired
                        class="text-danger"
                        @EndIf
                        >@!Model.Stalk.Expiry</td></tr>
                        <tr><th>Dynamic expiry extension</th><td>@!Model.Stalk.DynamicExpiry</td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="card-body mt-0">
            <p class="card-text">@!Model.Stalk.Stalk.Description</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12" id="xml_editor">
        &lt;searchTree&gt;@!Model.Stalk.Xml&lt;/searchTree&gt;
    </div>
</div>
@EndSection
@Section['Footer']
<script src="/Content/xonomy/xonomy.js" integrity="sha256-WrUc+985cCPTCe7dL6ptQiIKMhInPlJ+cSo9t5/QXWc=" crossorigin="anonymous"></script>

<script>
$(function(){
    var editor=document.getElementById("xml_editor");
    var regexLeafNode = {
        attributes: {
            "value": {},
            "caseinsensitive": {}
        }
    };

    var leafNode = {
        attributes: {
            "value": {}
        }
    };

    var docSpec = {
        elements: {
            "searchTree": {
                displayName: "Stalk search tree root"
            },
            "and": {
                caption: function() {return "Returns true all child nodes return true."}
            },
            "xor": {
                caption: function() {return "Returns true if exactly one child node returns true."}
            },
            "or": {
                caption: function() {return "Returns true any child node return true."}
            },
            "not": {
                caption: function() {return "Returns true if the child node returns false."}
            },
            "external": {
                caption: function() {return "References a section of tree stored elsewhere"}
            },
            "x-of": {
                attributes: {
                    "minimum": {},
                    "maximum": {}
                },
                caption: function() {return "Returns true of at least the minimum and at most the maximum child nodes return true."}
            },

            "user": regexLeafNode,
            "page": regexLeafNode,
            "summary": regexLeafNode,
            "flag": regexLeafNode,
            "log": regexLeafNode,

            "usergroup": leafNode,
            "incategory": leafNode,

            "true": leafNode,
            "false": leafNode
        }
    };

    Xonomy.setMode("laic");
    Xonomy.render(editor.textContent, editor, docSpec);
});
</script>

@EndSection
@Section['Header']
<link href="/Content/xonomy/xonomy.css" rel="stylesheet" integrity="sha256-CDh8m31Q7UTpcYk8nxIgd1GgEIx7rutlKGrvE4iTiFg=" crossorigin="anonymous" />
@EndSection