@Master['Master/master.sshtml']

@Section['Content']
<div class="row">
    <h2>Welcome, @!Model.BotUser.Identifier!</h2>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="p-md-3 bg-light rounded">
            <h4>Subscribed channels</h4>
            <p class="text-muted">
                You are currently subscribed to the channels listed below. By default, you will receive notifications for all stalks in these channels, except for the ones from which you have opted-out.
            </p>
            <ul>
                @Each.SubscribedChannels
                <li><a href="/channels/@!Current.Guid"><code>@!Current.Identifier</code></a></li>
                @EndEach
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <div class="p-md-3 bg-light rounded">
            <h4>Subscribed stalks</h4>
            <p class="text-muted">
                You are currently subscribed to the stalks listed below. Note this list does not include any stalks with which a channel subscription applies.
            </p>
            <ul>
                @Each.SubscribedStalks
                <li><a href="/channels/@!Current.Channel.Guid/stalk/@!Current.Stalk.Identifier"><code>@!Current.Stalk.Identifier</code></a> in <a href="/channels/@!Current.Channel.Guid"><code>@!Current.Channel.Identifier</code></a></li>
                @EndEach
            </ul>
        </div>
    </div>
</div>
@EndSection