<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCrypt-Official" version="0.1.109" targetFramework="net452" />
  <package id="BouncyCastle" version="1.8.9" targetFramework="net461" />
  <package id="Castle.Core" version="4.4.1" targetFramework="net461" />
  <package id="Castle.Core-log4net" version="4.4.1" targetFramework="net461" />
  <package id="Castle.EventWiringFacility" version="4.1.1" targetFramework="net45" />
  <package id="Castle.LoggingFacility" version="4.1.1" targetFramework="net45" />
  <package id="Castle.Windsor" version="4.1.1" targetFramework="net45" />
  <package id="HashLibrary" version="2.1.1" targetFramework="net45" />
  <package id="MailKit" version="2.11.1" targetFramework="net472" />
  <package id="MimeKit" version="2.11.0" targetFramework="net472" />
  <package id="Portable.BouncyCastle" version="1.8.10" targetFramework="net472" />
  <package id="Stwalkerster.Bot.PhabricatorLib" version="0.2.7-alpha" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="log4net" version="2.0.12" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="PCLStorage" version="1.0.2" targetFramework="net45" />
  <package id="Stwalkerster.Bot.CommandLib" version="14.0.80" targetFramework="net472" />
  <package id="Stwalkerster.Bot.MediaWikiLib" version="4.1.42" targetFramework="net472" />
  <package id="Stwalkerster.IrcClient" version="9.1.82" targetFramework="net472" />
  <package id="prometheus-net" version="4.1.1" targetFramework="net461" />
</packages>