<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCrypt-Official" version="0.1.109" targetFramework="net452" />
  <package id="Castle.Core" version="4.4.1" targetFramework="net461" />
  <package id="Castle.Windsor" version="4.1.1" targetFramework="net452" />
  <package id="Nancy" version="1.4.5" targetFramework="net452" />
  <package id="Nancy.Authentication.Forms" version="1.4.1" targetFramework="net452" />
  <package id="Nancy.Authentication.Stateless" version="1.4.1" targetFramework="net452" />
  <package id="Nancy.Bootstrappers.Windsor" version="1.4.1" targetFramework="net452" />
  <package id="Nancy.Hosting.Self" version="1.4.1" targetFramework="net452" />
  <package id="Stwalkerster.Bot.CommandLib" version="13.4.59" targetFramework="net461" />
  <package id="Stwalkerster.IrcClient" version="8.2.54" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="prometheus-net" version="3.6.0" targetFramework="net461" />
</packages>