<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <components>
        <component type="EyeInTheSky.Web.Misc.WebConfiguration">
            <parameters>
                <!-- IP address and port number to run the web service on -->
                <webServiceHostPort>127.0.0.1:8080</webServiceHostPort>
                <PublicEndpoint>http://127.0.0.1:8080/</PublicEndpoint>

                <DisableErrorTraces>true</DisableErrorTraces>
                <RewriteLocalhost>false</RewriteLocalhost>
                <DiagnosticsPath>_diag</DiagnosticsPath>
                <DiagnosticsPassword>changemepls</DiagnosticsPassword>
            </parameters>
        </component>
    </components>
</configuration>